@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Know Your Favorite Nobel Laureate</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div class="form-group">
                @*<label class="control-label"></label>*@
                <select asp-for="Query" class="form-control" asp-items="ViewBag.Code">
                    <option value="">Select the counrty to show Nobel Laureate</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.SearchCompleted)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].Born)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].Died)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].BornCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].BornCountryCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].BornCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].DiedCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].DiedCountryCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].DiedCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NobelLaureates.Laureates[0].Gender)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NobelLaureates.Laureates)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Born)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Died)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BornCountry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BornCountryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BornCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiedCountry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiedCountryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiedCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        <a asp-page="./PrizeDetails" asp-route-id="@item.Id">Prizes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.Query != null && Model.Query.Length > 0)
{
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                No results match your term <strong>@Model.Query</strong>
            </div>
        </div>
    </div>
}